@import "../../colors/colors.scss";

.wrapper {
  width: 100vw;
  height: 88px;
  background-color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $blackColor;
  }
}

.wrapper > div {
  max-width: 1100px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  height: 56px;
  margin-left: 14px;
  background-color: $whiteColor;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  svg {
    margin: 0 14px;
    cursor: pointer;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
  }
}

.navCont {
  justify-content: space-between;
  display: flex;
  width: fit-content;
  flex: 1 auto;
  a, h4 {
    display: flex;
    font-weight: 400;
    gap: 10px;
    margin-left: 24px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    border: 1px solid $primaryColor;
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $cartSizeColor;
      position: absolute;
      left: 20;
      top: 1px;
      color: $whiteColor;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
  }
}

.navCont a:hover,
.navCont h4:hover {
  border: 1px solid $whiteColor;
}

.veliRespIcon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navCont {
    display: none;
  }

  .veliIcon {
    display: none;
  }

  .veliRespIcon {
    display: block;
  }
}