$blackColor: #000;
$whiteColor: #fff;
$primaryColor: #B4D984;
$swiperItemColor: rgb(234, 234, 234);
$darkBorderColor: rgb(215, 217, 225);
$borderColor: rgb(245, 246, 246);
$accentColor: #82b224;
$hoverColor: #8A4E3C;
$lightBlueColor: #3498db;
$percentageColor: rgb(234, 86, 81);
$installmentColor: rgb(242, 237, 231);
$cartSizeColor: rgb(255, 119, 119);
$deleteColor: #ff0000

