@import "../../colors/colors.scss";
@import "../../colors/mixins.scss";

.product {
  border: 1px solid $borderColor;
  a div {
    padding: 14px;
    p {
      display: -webkit-box;
      @include line-clamp(3);
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 12px;
    }
    h4 {
      margin: 14px 0;
    }
  }
  a {
    color: $blackColor;
  }
}

.addToCartCont {
  display: none;
}

.imgCont {
  background-position: center;
  background-size: cover;
  width: 60%;
  aspect-ratio: 1/1;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .addToCartCont {
    display: block;
  }
}