@import "../../colors/colors.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}

.blurCont {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
}

.mainCont {
  max-width: 400px;
  width: 90%;
  max-height: 600px;
  height: 60%;
  overflow-y: scroll;
  scroll-snap-type: y;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  position: relative;
  right: 18%;
  border-radius: 14px;
  padding: 18px;
  margin-top: 150px;
  hr {
    opacity: 0.3;
    margin: 20px 0;
  }
}

.account {
  display: flex;
  gap: 20px;
  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    > div {
      display: flex;
      width: 100%;
      cursor: pointer;
      padding: 12px 10px;
      border-radius: 10px;
      transition: 0.3s;
    }
    > div:hover {
        background-color: $swiperItemColor;
    }
    span {
        margin-left: 12px;
        font-size: 14px;
    }
  }
}

.mainCont p {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    span {
        font-size: 12px;
    }
}

.mainCont p:hover {
    color: $primaryColor;
}